.auth-page {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background:
  linear-gradient(
    135deg,
    #0f172a,
    #1e1b4b
  );
}

.auth-card {
  width: 450px;

  background: rgba(255,255,255,.05);

  backdrop-filter: blur(20px);

  border-radius: 24px;

  padding: 40px;

  border: 1px solid rgba(255,255,255,.08);
}

.auth-card h1 {
  color: #c084fc;
  margin-bottom: 25px;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-wrapper {
  display: flex;
  align-items: center;

  background: rgba(255,255,255,.05);

  border-radius: 12px;

  padding: 12px;
}

.input-wrapper input {
  flex: 1;

  background: transparent;

  border: none;

  color: white;
}

.input-wrapper input:focus {
  outline: none;
}