// _variables.scss

$primarybg: #0f172a;
$secondarybg: #1e293b;

$primarytext: #c084fc;
$secondarytext: #ffffff;

$border: rgba(255,255,255,.08);

$success: #22c55e;
$danger: #ef4444;
$warning: #f59e0b;

$radius: 18px;

$fontfamily: "Segoe UI", sans-serif;