$border: #e5e7eb;
$text: #111827;
$muted: #6b7280;
$bg: #ffffff;
$primary: #2563eb;
$radius: 8px;

$primarybg:#0F172A;
$secondarybg: #031747;
$primarytext: rgb(225, 142, 225);
$secondarytext:White;
$fontfamily: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$primaryFontSize: 16px;
$secondaryFontSize: 14px;




