@use "../../Sass/Variable" as *;
@use "../../Sass/mixin" as *;
.dashboard {
  padding: 2rem;
  min-height: 100vh;
  background: #0f172a;
  color: white;
}

.dashboard-header {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
   .application,
  .auth {
    margin-bottom: 1rem;

    display: flex;
    gap: 1rem;
  }

  .btn {
    @include btn_base(
      12px 24px,
      1rem,
      $primarytext,
      $primarybg
    );

    font-weight: 600;

    &:hover {
      opacity: .9;
    }
  }
  h1 {
    font-size: 2.2rem;
    margin-bottom: 10px;
  }

  p {
    color: #94a3b8;
  }
}

.stats-grid {
  display: grid;
  grid-template-columns:
    repeat(4, 1fr);

  gap: 20px;

  margin-bottom: 30px;
}

.stats-card {
  background: linear-gradient(
    135deg,
    #1e293b,
    #334155
  );

  padding: 25px;

  border-radius: 16px;

  transition: 0.3s;

  box-shadow:
    0 10px 20px
      rgba(0, 0, 0, 0.3);

  &:hover {
    transform: translateY(-5px);
  }

  h4 {
    color: #cbd5e1;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 2rem;
  }
}

.dashboard-row {
  display: grid;

  grid-template-columns:
    2fr 1fr;

  gap: 20px;

  margin-bottom: 30px;
}

.dashboard-card {
  background: #1e293b;

  border-radius: 20px;

  padding: 20px;

  box-shadow:
    0 10px 20px
      rgba(0, 0, 0, 0.3);
}

.interview-item {
  background: #334155;

  padding: 15px;

  border-radius: 12px;

  margin-top: 15px;

  h4 {
    margin-bottom: 5px;
  }

  span {
    color: #38bdf8;
    font-size: 14px;
  }
}

.recent-card table {
  width: 100%;
  border-collapse: collapse;
}

.recent-card th,
.recent-card td {
  padding: 12px;
  border-bottom:
    1px solid #334155;
}

.recent-card th {
  text-align: left;
}

@media (max-width: 1000px) {

  .stats-grid {
    grid-template-columns:
      repeat(2, 1fr);
  }

  .dashboard-row {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {

  .stats-grid {
    grid-template-columns: 1fr;
  }
}