@use "../../Sass/variable" as *;
.dashboard {
  padding: 4px;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 40px;
}

.dashboard-header h1 {
  font-size: 40px;
}

.dashboard-header p {
  color: #94a3b8;
}

.stats-grid {
  display: grid;

  grid-template-columns:
  repeat(auto-fit,minmax(250px,1fr));

  gap: 25px;

  margin-bottom: 30px;
}

.stats-card {
  background: rgba(255,255,255,.05);

  backdrop-filter: blur(15px);

  border-radius: 20px;

  padding: 25px;

  border: 1px solid $border;

  transition: .3s;

  &:hover {
    transform: translateY(-5px);
  }
}

.stats-card-value {
  font-size: 40px;
  font-weight: bold;
  color: $primarytext;
}

.dashboard-row {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;

  margin-top: 30px;
}

.dashboard-card {
  background: rgba(255,255,255,.05);

  backdrop-filter: blur(15px);

  border-radius: 20px;

  padding: 25px;

  border: 1px solid $border;
}
.btn{
  margin:7px;
}
.Application-btn{
  padding: 12px 55px;
}