.settings-page {
  flex: 1;
  padding: 2rem;
}

.settings-card {
  background:
    rgba(255,255,255,.05);

  backdrop-filter: blur(20px);

  border-radius: 20px;

  padding: 25px;

  margin-bottom: 20px;
}

.settings-card button {
  background: red;

  border: none;

  color: white;

  padding: 12px 20px;

  border-radius: 10px;
}