.application-list {
  background: rgba(255,255,255,.05);

  backdrop-filter: blur(15px);

  border-radius: 20px;

  padding: 25px;

  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: rgba(255,255,255,.05);
}

th,
td {
  padding: 18px;
  text-align: left;
}

tr {
  border-bottom: 1px solid rgba(255,255,255,.08);
}

tbody tr:hover {
  background: rgba(255,255,255,.03);
}

td button {
  margin-right: 10px;

  border: none;

  padding: 8px 14px;

  border-radius: 8px;

  cursor: pointer;
}

.download-wrapper {
  margin-top: 20px;
}

.download-btn {
  background: linear-gradient(
    135deg,
    #9333ea,
    #6366f1
  );

  color: white;

  border: none;

  padding: 12px 24px;

  border-radius: 12px;
}