@use "./Sass/Variable" as *;

.app-container {
  display: flex;
  background-color: $primarybg;
  color: $primarytext;
  font-family: $fontfamily;
 .header-container{
    margin-right: 7rem;
 }
}

.main-content {
  flex: 1;
  padding: 2rem;
  overflow-y: auto;
}