@use "./Sass/variable" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $primarybg;
  color: $secondarytext;
  font-family: $fontfamily;
}

.app-container {
  min-height: 100vh;
  background: linear-gradient(
    135deg,
    #0f172a,
    #1e1b4b,
    #111827
  );
}

.btn {
  padding: 12px 24px;
  border: none;
  border-radius: 12px;
  background: linear-gradient(
    135deg,
    #9333ea,
    #6366f1
  );

  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: .3s;

  &:hover {
    transform: translateY(-3px);
  }
}