.home-container{
    display: flex;
    gap:600px;
    padding: 30px;
    
    .application{
        button{
            padding: 10px 70px 10px 70px;
        }
    }
    .btn{
            padding: 10px 40px 10px 40px;
           font-size:16px;
        }
}